/****************************/
/* NAVIGATION */
/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 1s;
  }

  &:hover,
  &:active {
    color: #ff5b7e;
  }

  &.nav-cta {
    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: #fff;
      background-color: #e67e22;
    }

    &:hover,
    &:active {
      background-color: #ff5b7e;
    }
  }
}
