.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(106, 106, 106, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background: rgba(28, 28, 28, 0.75);
  border-radius: 1rem;
  padding: 2.4rem;
}

.btn-alert {
  background-color: #e67e22;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  color: white;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
