.dashboard {
  padding-top: 4rem;
  padding-bottom: 5.2rem;
  padding-left: 5.2rem;
  padding-right: 5.2rem;
}

.grpsv-card {
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.grpsv-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
