input[type="file"] {
  background-color: rgba(186, 179, 179, 0) !important;
}

input[type="file"]::file-selector-button {
  background-color: #e67e22;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 10px;
  transition: all 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #ff5b7e;
}

.prof-pic-up {
  width: 12rem;
  height: 9rem;
  border-radius: 200%;
}
