* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: IBM Plex Sans, serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #101010;
}

.container {
  max-width: 120rem;
}
