.attempt-quiz {
  background-color: #101010;
  padding-top: 4rem;
  padding-bottom: 5.2rem;
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  margin: 0 15rem;
}

.answer {
  text-align: center;
  margin-bottom: 0;
  margin-bottom: 36rem;
}

.score-section {
  font-size: 24px;
  align-items: center;
}

.answer-section {
  width: 50%;
}

.attempt-quiz-button {
  width: 100%;
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #d9863e;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  border: 5px solid #d9863e;
  cursor: pointer;
  margin: 10px;
}
