.attempt-quiz {
  background-color: rgba(255, 255, 255, 0.13);
  width: 1000px;
  margin: 200px auto;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px -10px 42px 0px rgba(38, 38, 38, 0.75);
  padding: 30px;
}

.answer {
  text-align: center;
  margin-bottom: 0;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.answer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.attempt-quiz-button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #dd9e67;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  border: 5px solid #d9863e;
  cursor: pointer;
  margin: 10px;
}
